<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    Cadastro
    </ion-title>
	      <ion-menu-button menu="main-menu"></ion-menu-button>

  </ion-toolbar>
</ion-header>


<ion-app>
  <ion-content fullscreen>
    <ion-list lines="full" class="ion-no-margin">
      <ion-list-header lines="full">
        <ion-label>
          Formulario
        </ion-label>
      </ion-list-header>
      
      
      <ion-item>
        <ion-label>
          <ion-icon name="person-circle">
            </ion-icon>
           Nome
        </ion-label>
        <ion-input placeholder="Nome Completo" type="text" [(ngModel)]="nome" ></ion-input>
      </ion-item>
     

      <ion-item>
        <ion-label>
          <ion-icon name="call">
            </ion-icon>
           Celular
        </ion-label>
        <ion-input placeholder="Numero Disponivel" type="number" [(ngModel)]="celular"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label>
          <ion-icon name="location">
            </ion-icon>
           Rua
        </ion-label>
        <ion-input placeholder="Sua Rua" type="text" [(ngModel)]="rua"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label>
          <ion-icon name="home">
            </ion-icon>
           Numero
        </ion-label>
        <ion-input placeholder="Numero da Residencia" type="number" [(ngModel)]="numero"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label>
          <ion-icon name="bicycle">
           </ion-icon>
         Bairro
        </ion-label>
        <ion-input placeholder="Bairro"  type="text" [(ngModel)]="bairro"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label>
          <ion-icon name="earth">
            </ion-icon>
           Cidade
        </ion-label>
        <ion-input placeholder="Cidade" type="text" [(ngModel)]="cidade"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label>
          <ion-icon name="walk">
            </ion-icon>
           UF
          </ion-label>
        <ion-input placeholder="Unidade Federativa" type="text" [(ngModel)]="uf"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label>
          <ion-icon name="diamond">
            </ion-icon>
           CPF
          </ion-label>
        <ion-input placeholder="Digite sem as pontuações" type="number" [(ngModel)]="cpf"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label>
          <ion-icon name="people">
            </ion-icon>
           Tipo
          </ion-label>
        <ion-select interface="popover" [(ngModel)]="tipo">
          <ion-select-option value="1">Autonomo</ion-select-option>
          <ion-select-option value="2">Comum</ion-select-option>
          <ion-select-option value="3">ADM</ion-select-option>
        </ion-select>
      </ion-item>


      <ion-item >
        <ion-label>Senha</ion-label>
        <ion-input name="password" placeholder="Senha" [type]="showPassword ? 'text' : 'password'" [(ngModel)]="senha"></ion-input>
        <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
      </ion-item>


    </ion-list>

    <section>
      <ion-button expand="block" (click)="sendPostRequest()">Inscrever-se</ion-button>
    </section>

  </ion-content>
</ion-app>